---
import HobbiesCard from "./_common/HobbiesCard.astro";
import Title from "./_common/Title.astro";
---

<section>
	<Title
		content="My Hobbies"
		color="red"
		fontSize="50px"
		marginBlock="10px"
	/>
	<div>
		<HobbiesCard
			imageSrc="https://images.pexels.com/photos/4816921/pexels-photo-4816921.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
			title="PROGRAMMING"
		/>

		<!-- <HobbiesCard
			imageSrc="https://images.pexels.com/photos/93820/pexels-photo-93820.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
			title="Photography"
		/> -->

		<HobbiesCard
			imageSrc="https://images.pexels.com/photos/7991318/pexels-photo-7991318.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
			title="WATCHING"
		/>
	</div>
	<div>
		<HobbiesCard
			imageSrc="https://images.pexels.com/photos/1276437/pexels-photo-1276437.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
			title="BIKING"
		/>

		<HobbiesCard
			imageSrc="https://images.pexels.com/photos/12376012/pexels-photo-12376012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
			title="Photography"
		/>

		<HobbiesCard
			imageSrc="https://images.pexels.com/photos/577769/pexels-photo-577769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
			title="AUDIOPHILE"
		/>
	</div>
	<div>
		<HobbiesCard
			imageSrc="https://images.pexels.com/photos/2284604/pexels-photo-2284604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
			title="EATING"
		/>

		<HobbiesCard
			imageSrc="https://images.pexels.com/photos/12700811/pexels-photo-12700811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
			title="BASKETBALL"
		/>

		<HobbiesCard
			imageSrc="https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
			title="LEARNING"
		/>
	</div>
</section>

<style lang="scss">
	@import "../styles/_mixins.scss";

	section {
		@include flex_center(column);

		div {
			display: grid;
			height: 220px;
			width: 90%;
		}

		:nth-child(odd) {
			grid-template-columns: 30% 40% 30%;
		}

		:nth-child(even) {
			grid-template-columns: 35% 35% 30%;
		}

		:nth-child(2) {
			grid-template-columns: 50% 50%;
		}

		@media screen and (max-width: 1060px) {
			div {
				@include flex_center(column);
				height: 500px;
			}
		}
	}
</style>
