---
---

<>
	<section>
		<div>All About Me</div>
	</section>
</>

<style lang="scss">
	section {
		position: relative;
		justify-content: center;
		align-items: center;
		display: flex;
		font-size: 3.2rem;
		color: whitesmoke;
		height: 100vh;
		height: clamp(600px, 70vh, 650px);
		overflow: hidden;
		background: url("https://images.pexels.com/photos/5192532/pexels-photo-5192532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
			center;

		// background: url("./placeholder-about.jpg") center;
		background-size: cover;
	}

	img {
		object-fit: cover;
		position: absolute;
		overflow: hidden;
		height: 100%;
	}

	div {
		cursor: pointer;
		border: solid 1px;
		padding: 15px;
		transition: all 0.5s;
		color: whitesmoke;
		text-decoration: none;
		font-size: 60px;
		font-weight: bolder;
		z-index: 1;
	}

	div:hover {
		color: black;
		background: whitesmoke;
		border: solid 3px whitesmoke;
		opacity: 0.8;
	}
</style>
