---
import Card from "./_common/Card.astro";
import Title from "./_common/Title.astro";
---

<section>
	<div>
		<Card
			img="https://cdn-icons-png.flaticon.com/512/3976/3976631.png"
			title="Computer Science Student"
			description="Excepteur exercitation cupidatat proident cillum. Esse occaecat duis veniam anim amet id ut aute."
		/>

		<Card
			img="https://cdn-icons-png.flaticon.com/512/2721/2721620.png"
			title="Starting Programming"
			description="Amet amet dolor do sint incididunt mollit eiusmod. Do velit commodo excepteur officia eiusmod."
		/>

		<Card
			img="https://cdn-icons-png.flaticon.com/512/5928/5928419.png"
			title="Simple human"
			description="Nostrud fugiat incididunt labore ad. Veniam deserunt in anim Lorem culpa pariatur voluptate reprehenderit aliqua duis aute ad quis anim."
		/>
	</div>
</section>

<style lang="scss">
	div {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 60px 60px;
		// background: #eeeeee;
		// background: linear-gradient(
		// 		rgba(255, 255, 255, 0.9),
		// 		rgba(255, 255, 225, 0.6)
		// 	),
		// 	url("https://cdn.pixabay.com/photo/2017/01/24/10/58/sand-2005066_960_720.jpg")
		// 		fixed;

		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1045%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(235%2c 235%2c 235%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c308.67C74.219%2c320.719%2c154.982%2c380.224%2c218.722%2c340.338C282.277%2c300.568%2c263.179%2c201.907%2c285.162%2c130.229C303.764%2c69.575%2c340.632%2c14.79%2c338.005%2c-48.598C335.223%2c-115.724%2c311.169%2c-180.87%2c270.066%2c-234.014C227.556%2c-288.978%2c169.841%2c-331.801%2c103.354%2c-351.99C36.522%2c-372.283%2c-38.109%2c-375.453%2c-101.875%2c-346.953C-162.61%2c-319.807%2c-196.796%2c-257.666%2c-232.817%2c-201.737C-264.445%2c-152.63%2c-292.673%2c-101%2c-297.759%2c-42.811C-302.679%2c13.483%2c-280.821%2c66.265%2c-260.863%2c119.132C-239.508%2c175.699%2c-226.308%2c240.488%2c-177.393%2c276.029C-127.747%2c312.101%2c-60.574%2c298.836%2c0%2c308.67' fill='%23dfdfdf'%3e%3c/path%3e%3cpath d='M1440 898.85C1506.18 904.534 1575.535 893.7280000000001 1630.608 856.592 1685.165 819.804 1707.804 754.431 1739.604 696.825 1774.172 634.206 1825.93 576.181 1824.884 504.662 1823.7930000000001 430.126 1792.065 351.947 1733.876 305.355 1677.781 260.44 1594.511 288.652 1526.419 265.684 1454.074 241.281 1401.026 165.26100000000002 1324.704 167.33800000000002 1243.724 169.54199999999997 1165.032 214.57299999999998 1113.315 276.926 1062.008 338.784 1050.692 423.122 1046.0059999999999 503.352 1041.6100000000001 578.612 1044.43 659.078 1087.375 721.038 1128.045 779.716 1205.584 793.419 1269.3319999999999 825.5640000000001 1325.756 854.0160000000001 1377.04 893.443 1440 898.85' fill='%23f7f7f7'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1045'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>
