---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div id="container">
        <div id="content">
                <h1>ERVIN PANGILINAN</h1>
                <p>Ready to build something amazing?</p>
                <img src={astroLogo.src} alt="Astro Logo" />
        </div>
</div>

<style>
        #container {
                height: 80vh;
                width: 100%;
                /* background-color: hsl(0deg 0% 3.14%); */
                background: red;
                display: flex;
                align-items: center;
                justify-content: center;
        }
</style>
