---
interface Props {
	img: string;
	title: string;
	description: string;
}

const { title, description, img } = Astro.props;
---

<div>
	<img src={img} />
	<h1>{title || "default no title"}</h1>
	<p>
		{description || "default no description"}
	</p>
</div>

<style lang="scss">
	@import "../../styles/_mixins.scss";

	div {
		@include flex_center(column);
		width: 320px;
		margin-inline: 30px;

		* {
			margin-bottom: 30px;
		}

		h1 {
			font-size: 20px;
			text-align: center;
			font-weight: 800;
			font-family: "Roboto Condensed", sans-serif;
		}

		p {
			font-size: 20px;
			color: rgb(100, 100, 100);
			font-family: "Work Sans", sans-serif;
			line-height: 1.3;
			font-weight: 100;
		}

		img {
			width: 150px;
		}
	}
</style>
